@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container-bg {
  background: url("/public/supportbg.png") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

input::file-selector-button {
display: none;
}